* {
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section,
header, 
h3 {
    margin-bottom: 2%;
}

body {
    background-color: #EFE9E4;
}

header,
nav a,
footer,
#catalogo .datosDelProducto div {
    color: #D79B3E;
}

header, 
nav,
#catalogo,
#catalogo .datosDelProducto div,
footer,
#catalogo .producto button {
    background-color: #6A4E23;
}

nav li,
nav li a,
#catalogo .producto button {
    color: #6A4E23;
    font-weight: bold;
}

nav li,
nav li a, 
#catalogo .producto,
#catalogo .producto button,
.guardados {
    background-color: #D79B3E;
}

#catalogo .producto button:hover, 
nav li a:hover {
    color: #EFE9E4;
}

header, 
nav,
h3,
#catalogo div,
#catalogo div button,
footer {
    text-transform: uppercase;
    text-align: center;
}

nav ul,
#catalogo ul {
    padding: 0;
}

nav ul,
#catalogo,
#guardados, 
#catalogo .divFlex{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

li,
#catalogo div {
    padding: 10px;
}

#catalogo,
#catalogo button,
footer address{
    padding: 5px;
}

nav li, 
nav li a,
#catalogo li,
#catalogo a {
    text-decoration: none;
    list-style: none;
}

.presentacion {
    text-align: justify;
    font-size: 18px;
}

header, 
nav,
nav li,
#catalogo,
.guardados, 
#guardados img, 
#catalogo .datosDelProducto div,
#catalogo .producto,
#catalogo .producto button, 
#catalogo .producto input, 
footer {
    border: 2px solid #A67F60;
}

h1,
address {
    border-bottom: 2px  groove #A67F60;
}

#catalogo .divImg {
    background-color: black !important; 
}

#costoTotal {
    float: left;
}